# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cache
.cache
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# VS code
.vscode

desktop.ini